*{
  margin: 0;
  padding: 0;
}

body{
  font-family: 'Times New Roman';

}
.main{
  display: flex;
  max-width: 800px;
  max-height: 830px;
  margin: 0 auto;
  box-sizing: border-box;
}

.container{
  width: 60%;
  background-color: rgb(205, 255, 255);
  margin: 0 auto;
  padding: 20px 10px;
  box-sizing: border-box;
}
.container2{
  display: flex;
  flex-direction: column;
  width: 40%;
  color: white;
  margin: 0 auto;
  box-sizing: border-box;
  
  
 
}

.profilebio{
  background-color: rgb(48, 217, 255);
  height: 40%;
}

.bio{
  padding: 10px;
  color: black;
  background-color: rgb(48, 217, 255);
}

.bio h1{
  font-size: 30px;
}
.profile-image{
  width: 150px;
  height: 150px;
  border: 3px solid white;
  border-radius: 50%;
  margin-left: 80px;
  margin-top: 35px;
}

.cle{
  height: 60%;
  background-color: rgb(54, 54, 53);
}  
.contact, .education, .language{
  padding: 10px;


}
.contact a{
  text-decoration: none;
  color:white;
}
.contact a:hover{
  color: blue;
  text-decoration: underline;

}

hr{
  border: solid black 2px;
  width: 100%;
  margin-top: 10px;
  margin-bottom: 3px;
  border-bottom: none;
}

.hr1{
  border: solid white;
  width: 100%;
  margin-top: 5px;
  margin-bottom: 5px;
  border-bottom: none;
}

.ref{
  display: flex;
  justify-content: space-between;
  gap: 20px;
  padding-top: 10px;
}

/* Small Device Style */
@media screen and (max-width:576px) {
  .main{
    flex-direction: column;
    max-height: 1600px;
  }
  .container, .container2{
    width: 100%;
  }
  .cle{
    background-color: rgb(48, 217, 255);
    color: black;
    width: 100%;
  }
  .profilebio{
    height: auto;
    width: 100%;
  }
  .profile-image{
    margin-right: -70px;
    margin-top: 20px;
  }
  .container{
    width: 100%;
    height: auto;
    flex-wrap: wrap;
  }
  .ref{
    flex-direction: column;
    
  }
}